{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Workouts</h1>

<ul class="list-group list-group-flush" id="notes">
  {% for workout in workouts %}
  <li class="list-group-item">

    <h3>{{ workout.data }} - {{ workout.date.strftime('%Y-%m-%d') }}</h3>
    <button type="button" class="close" onClick="deleteWorkout({{ workout.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
    <ul class="list-group list-group-flush">

      {% for note in workout.notes %}

      <li class="list-group-item">
        Exercise: {{ note.data }}<br>
        Reps: {{ note.reps }}<br>
        Weight: {{ note.weight }} kg<br>
        Date: {{ note.date.strftime('%Y-%m-%d %H:%M:%S') }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

<form method="POST" class="mt-4">
  <textarea name="workout" id="workout" class="form-control" placeholder="Enter workout name"></textarea>
  <br />
  <button type="submit" class="btn btn-primary">Add workout</button>
</form>
<br />

<form method="POST" class="mt-4">
  <select name="workout_id" class="form-control">
    <option value="" disabled selected>Select workout</option>
    {% for workout in workouts %}
    <option value="{{ workout.id }}">{{ workout.data }}</option>
    {% endfor %}

  </select>
  <br />
  <textarea name="note" id="note" class="form-control" placeholder="Enter exercise name"></textarea>
  <br />
  <select name="reps" id="reps" class="form-control">
    <option value="" disabled selected>Select reps</option>
    {% for i in range(1, 101) %}
    <option value="{{ i }}">{{ i }}</option>
    {% endfor %}
  </select>
  <br />
  <input type="number" step="0.1" name="weight" id="weight" class="form-control" placeholder="Enter weight (kg)" />
  <br />
  <button type="submit" class="btn btn-primary">Add exercise</button>
</form>

{% endblock %}