<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My first three.js app</title>
    <style>

      #info {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 5px;
        text-align: center;
        color: #7b7b7b;
        background: #3c3c3c;
        font-family: Monospace;
        font-size: 23px;
        font-weight: bold;
        cursor: pointer;
    }
      body { margin: 0; }

    </style>
  </head>
  <body>
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.132.2/examples/jsm/"
        }
      }
    </script>
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
    <div id="info">MODELS</div>
  </body>
</html>
