<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My first three.js app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='st.css') }}">
  </head>
  <body>
    <div id="experience">
      <canvas id="experience-canvas"></canvas>
    </div>
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.132.2/examples/jsm/"
        }
      }
    </script>
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
    <div id="info">MODELS</div>
  </body>
</html>
